<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="https://townsquare.media/site/442/files/2019/08/best-posters-of-the-decade.jpg?w=780&q=75" class="d-block w-100" style="height: 45rem; object-fit: cover" alt="avengers poster">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://i.pinimg.com/736x/03/83/37/03833760bdc643a04d67903d0ff8d658.jpg" class="d-block w-100" style="height: 45rem; object-fit: cover" alt="joker poster">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://aml-group.com/app/uploads/2023/03/COLLAGE.jpg" class="d-block w-100" style="height: 45rem; object-fit: cover" alt="jaws poster">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
